.active{
    background-color: tomato;
}
.nav-link{
    text-align: center;
    color: white;
}
.nav-color{
    background-color: blueviolet;
}
.nav-bar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
   background-image: linear-gradient(131deg, #37644bbf, transparent);
   transition: all 1s ease;
}
.actives{
    background-color: red;
    transition: all .3s ease;
    height: 57px;
}
a{
    color: white !important;
}
.toggol{
    background-color: white !important;
}